/* General setup */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  color: #6f6f6f;
}

.no-display {
  display: none;
}

.container {
  width: 90%;
  margin: auto;
}

a {
  color: inherit;
}

input {
  color: white;
  background-color: #2f74ce;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font: inherit;
  cursor: pointer;
  outline: none;
}

button:active {
  background-color: #1d4b88;
}

p {
  margin: 1rem 0;
}

/* HEADER */

.header,
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu {
  flex-grow: 2;
  margin: 0 1rem;
}

.menu-item a,
.sub-menu-name {
  padding: 1rem;
  display: block;
  position: relative;
  white-space: nowrap;
}

.menu-link {
  transition: all 0.3s ease;
}

.menu-link:hover,
.menu-link:active {
  background-color: #ddd;
}

.sub-items {
  position: absolute;
  float: left;
  transition: all 0.3s ease;
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.header-logo img {
  height: 7rem;
  width: auto;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 970px) {
  .header {
    flex-wrap: wrap;
  }

  .menu {
    order: 1;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .menu-icons,
  .call-to-action {
    flex-basis: 5rem;
    display: flex;
    justify-content: center;
  }

  .sub-items {
    position: static;
    margin-left: 2rem;
    float: none;
  }
}

.hamburger,
.cross {
  font-size: 2rem;
  cursor: pointer;
}

.collapsible {
  transition: all 0.3s ease-in-out;
  transform-origin: top;
}

.flatten {
  transform: scaleY(0);
  height: 0;
}

.fa-chevron-down {
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

.turn-chevron {
  transform: rotate(180deg);
}

/* HERO IMAGE */

.hero-image,
.small-hero-image {
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
}

.hero-image {
  height: 50vh;
}

.small-hero-image {
  height: 25vh;
}

.hero-image-text,
.small-hero-image-text {
  text-align: center;
  margin: auto;
  color: #c9c9c9;
  font-style: italic;
}

.hero-image-text {
  font-size: 1.25rem;
}

/* TEXT BODY */

.section,
.intro {
  padding: 2rem 0;
}

.news {
  padding: 4rem 0 0 0;
}

.center {
  text-align: center;
}

.row {
  display: flex;
}

.reverse {
  flex-direction: row-reverse;
}

.column {
  width: 50%;
  margin: auto;
}

@media only screen and (max-width: 500px) {
  .row {
    flex-direction: column;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .column {
    width: 90%;
  }
}

.column-image {
  max-height: 75vh;
  max-width: 80%;
  padding: 10vh 0;
}

.section:nth-of-type(even) {
  background-color: #f8f8f8;
}

h1 {
  text-transform: uppercase;
  font-weight: 200;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #2f74ce, transparent);
  width: 50%;
  margin: auto;
}

.music-icon {
  width: 2rem;
  margin: 1rem 0;
  color: red;
  filter: invert(37%) sepia(86%) saturate(990%) hue-rotate(187deg) brightness(89%) contrast(83%);
}

.news-title {
  margin-bottom: 1rem;
}

.text-body {
  width: 50%;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .text-body {
    width: 90%;
  }
}

/* FOOTER */

footer {
  background-color: #ddd;
  padding: 1rem 0;
}

.footer-text div,
.social-media-links {
  color: #333;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

.social-media-links i {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #1da1f2;
}
