{{ define "main" }}
	{{ if isset .Params "hero_image" }}
		<div class="small-hero-image" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url({{ .Params.hero_image }});">
			<h1 class="small-hero-image-text">{{ .Title }}</h1>
		</div>
	{{ else }}
		<div class="intro center">
			<h1>{{ .Title }}</h1>
		</div>
	{{ end }}
	<div>
	{{ range $i, $e := .Params.sections }}
		<div class="section">
			<div class="container">
				<div class="gallery">
					{{ range $j, $f := $e.images }}
						<a class="gallery-image" data-fslightbox="gallery" href="{{ $f.source }}"><img alt="{{ $f.description }}" src="{{ $f.source }}"></a>
					{{ end }}
				</div>
			</div>
		</div>
	{{ end }}
	</div>
{{ end }}
