<footer>
  <div class="container">
    <div class="footer-text">
      <div>© Philomusica 2021</div>
	  <div>Registered Charity 1032335</div>
    </div>
    <div class="social-media-links">
      <a class="media-link" aria-label="Link to Philomusica's facebook page" href="https://www.facebook.com/groups/134742876558816">
        <i class="fab fa-facebook"></i>
      </a>
      <a class="media-link" aria-label="Link to Philomusica's twitter page" href="https://twitter.com/Philomusica40">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div>
</footer>
<script src="/js/headerAndFooter.js"></script>
{{ if isset .Params "table" }}
	<script src="/js/table.js"></script>
{{ else if isset .Params "contact" }}
	<script src="/js/contact.js"></script>
{{ end }}
{{ if isset .Params "photos" }}
	<script src="/js/fslightbox.js"></script>
{{ end }}
