<footer>
  <div class="container">
    <div class="footer-text">
      <div>© Philomusica 2021</div>
      <div>Website by Joshua Crunden</div>
    </div>
    <div class="social-media-links">
      <a aria-label="Link to Joshua's facebook page" href="https://www.facebook.com/groups/134742876558816">
        <i class="fab fa-facebook"></i>
      </a>
      <a aria-label="Link to Joshua's twitter page" href="https://twitter.com/Philomusica40">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div>
</footer>
<script src="/js/headerAndFooter.js"></script>
