<div class="container">
  <div class="header">
    <div class="menu-icons">
      <i aria-hidden="true" title="Open Menu" class="fas fa-bars hamburger"></i>
      <i aria-hidden="true" title="Close Menu" class="fas fa-times cross"></i>
	</div>
	  <div class="header-logo">
		<a class="media-link" href="/">
			<h3>TDJ JOINERY</h3>
		</a>
      </div>
	{{ $menuItem := .Site.Sections.ByWeight }}
	{{ if eq .Site.Params.include_home_in_menu true }}
		{{ $menuItem = slice (.Site.Home) | append $menuItem }}
	{{ end }}
    <nav class="menu">
      {{ range $menuItem }}
        {{ if not (eq .Params.noMenu true) }}
          <div class="menu-item {{ if and .Pages (not .IsHome) }}sub-menu{{ end }}">
              {{ if and (.Pages) (not .IsHome) }}
                <div class="sub-menu-item"><a class="sub-menu-name" href="{{ .Permalink }}">{{ .Title }}</a><i class="fas fa-chevron-down"></i></div>
              {{ else }}
                <a class="menu-link" href="{{ .Permalink }}">{{ .Title }}</a>
              {{ end }}
              {{ if and (.Pages) (not .IsHome) }}
              <div class="sub-items collapsible hidden">
                {{ range .Pages }}
                  <a class="menu-link" href="{{ .Permalink }}">{{ .Title }}</a>
                {{ end }}
              </div>
            {{ end }}
          </div>
        {{ end }}
      {{ end }}
    </nav>
	<a class="call-to-action" href="{{ .Site.Params.call_to_action_link }}">{{ .Site.Params.call_to_action_text }}</a>
  </div>
</div>
