<div class="container">
  <div class="header">
    <div class="menu-icons">
      <i aria-hidden="true" title="Open Menu" class="fas fa-bars hamburger"></i>
      <i aria-hidden="true" title="Close Menu" class="fas fa-times cross"></i>
    </div>
    <div class="header-logo">
      <a href="/">
        <img alt="Philomusica logo" width="85.94" height="112" src="/img/logo.jpg"/>
      </a>
    </div>
	{{ $menuItem := .Site.Sections.ByWeight }}
	{{ if eq .Site.Params.include_home_in_menu true }}
		{{ $menuItem = slice (.Site.Home) | append $menuItem }}
	{{ end }}
    <nav class="menu">
      {{ range $menuItem }}
        {{ if not (eq .Params.noMenu true) }}
          <div class="menu-item {{ if .Pages}}sub-menu{{ end }}">
              {{ if and (.Pages) (not .IsHome) }}
                <div class="sub-menu-name">{{ .Title }}<i class="fas fa-chevron-down"></i></div>
              {{ else }}
                <a class="menu-link" href="{{ .Permalink }}">{{ .Title }}</a>
              {{ end }}
              {{ if and (.Pages) (not .IsHome) }}
              <div class="sub-items collapsible hidden">
                {{ range .Pages }}
                  <a class="menu-link" href="{{ .Permalink }}">{{ .Title }}</a>
                {{ end }}
              </div>
            {{ end }}
          </div>
        {{ end }}
      {{ end }}
    </nav>
    <form action="{{ .Site.Params.call_to_action_link }}" class="call-to-action">
          <input type="submit" value="{{ .Site.Params.call_to_action_text }}"/>
    </form>
  </div>
</div>
