{{ define "main" }}
	<div class="hero-image" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url({{ .Params.heroImage }});">
		<div class="hero-image-text">We are the music makers and we are the dreamers of dreams</div>
	</div>
	<div class="section">
		<div class="container">Section 1</div>
	</div>
	<div class="section">
		<div class="container">Section 2</div>
	</div>
	<div class="section">
		<div class="container">Section 3</div>
	</div>
	<div class="section">
		<div class="container">Section 4</div>
	</div>
{{ end }}
