{{ define "main" }}
	<div class="hero-image" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url({{ .Params.hero_image }});">
		<div class="hero-image-text">We are the music makers and we are the dreamers of dreams</div>
	</div>
	<div class="intro center">
		<h1>{{ .Title }}</h1>
		<img class="music-icon" loading="lazy" src="/img/musical-notes-outline.svg" alt="music-icon"/>
		<div class="text-body">{{ .Content }}</div>
	</div>
	<hr>
	<div class="news center">
		<h1>News</h1>
	{{ range $i, $e := .Params.news }}
		<div class="section">
			<div class="container">
				<h2 class="news-title">{{ $e.title }}</h2>
				<div class="row{{ if not (modBool $i 2) }} reverse{{ end }}">
					<div class="column">{{ $e.body }}</div>
					<div class="column">
						<img class="column-image" alt="{{ $e.image_description }}" loading="lazy" src="{{ $e.image }}"/>
					</div>
				</div>
			</div>
		</div>
	{{ end }}
	</div>
{{ end }}
